@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import url('https://fonts.cdnfonts.com/css/ocr-a-std');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
html , body{
    background-color: #001F3F;
    height: 100%;
    width: 100%;
}
.card{
    box-shadow: 2px 1px 19px 5px #000000;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#03346E, #6EACDA );
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    /* border: 5px solid #FFF078; */
    /* outline: 10px solid #48CFCB; */
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline: 0;
    background: #ebfffc;
    color: #000000;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 15px;
    box-shadow:  0px 0px 15px 4px #001F3F;
    font-family: 'OCR A Std', sans-serif;
}
.search button{
    border:0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0px 0px 11px 4px #001F3F;
}
input::placeholder{
    opacity: 0.8;
    text-align: center;
    font-weight: 600;
    font-family: 'OCR A Std', sans-serif;

}
.search button img{
    width: 16px;
    /* height: 16px; */
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
    color: #fec260;
}
.container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Fugaz One", cursive;
    color: #ecff9a;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fec260;
    color: white;
    text-align: center;
    /* top: 8.2rem; */
  }
.copyright {
    color: black;
}
.title{
    position: relative;
    text-align: center;
    color: white;
    font-size: 6vw;
    font-family: "Electrolize", sans-serif;
    text-shadow: 0 0 5px #0bf4f3, 0 0 10px #0bf4f3, 0 0 20px #0bf4f3,
      0 0 40px #0bf4f3, 0 0 80px #0bf4f3;
}
.main {
    width: 100%;
    height: 100;
    display: grid;
    place-items: center;
  }
.github{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    text-decoration: none;
    color:#000000
}